body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.hero-second,
.header-link {
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

.header-link {
    width: 400px;
}

.header-logo {
    font-size: 24px;
    /* font-weight: bold; */
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.sub-header1 {
    display: flex;
    justify-content: space-between;
}

.sub-header2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 100px;
}

.left,
.right {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left {
    flex-direction: column;
    width: 600px;
    gap: 8px;
    margin-left: 250px;
    margin-right: 50px;
}

.right {
    margin-right: 250px;
    margin-left: 50px;
}

.image {
    flex-shrink: 0;
    width: 600px;
    height: 300px;
    border: 5px solid black;
}

.sign-up {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: white;
    font-weight: 800;
    border-radius: 8px;
    border-style: none;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 48px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 96px;
    margin-bottom: 112px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.card-text {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 112px 0;
    gap: 8px;
    background-color: #E5E7EB;
}

.quote-container {
    width: 800px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: 800;
    color: #1F2937;
}